<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="new_player">
        <div class="firstname">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" id="first_name">
        </div>
        <div class="lastname">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" id="last_name">
        </div>
        <div class="age">
            <label for="age">Age:</label>
            <input type="text" name="age" id="age">
        </div>
            <label for="position">Position:</label>
            <select name="position" id="position">
                <option value="Goalkeeper">Goalkeeper</option>
                <option value="Defence">Defence</option>
                <option value="Right Wing">Right Wing</option>
                <option value="Left Wing">Left Wing</option>
                <option value="Center">Center</option>
            </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>