{% extends 'base.html' %}

{% block content %}
<form action="/teams" method="POST">
    <div class="newname">
        <label for="newname">Team Name:</label>
        <input type="text" name="newname" id="newname" value="{{ team.name }}">
    </div>
    <div class="newcoach">
        <label for="newcoach">Head Coach:</label>
        <input type="text" name="newcoach" id="newcoach" value="{{ team.coach }}">
    </div>
    <div class="newstadium">
        <label for="newstadium">Stadium:</label>
        <input type="text" name="newstadium" id="newstadium" value="{{ team.stadium }}">
    </div>
    <div class="newcity">
        <label for="newcity">City:</label>
        <input type="text" name="newcity" id="newcity" value="{{ team.city }}">
    </div>
    <input type="submit" value="Update Team">
</form>
{% endblock %}