{% extends 'base.html' %}

{% block content %}
<main class="flex flex--row">
  <nav>
      {% for team in teams|sort(attribute='name') %}
      {% if team.id != 17 %}
      <ul>
          <li>
          <a href="/teams/{{ team.id }}"> {{team.name}} </a>
          </li>
      </ul>
      {% endif %}
      {% endfor %}
  </nav>
  <section id="content">
    {% for player in players %}
    <table>
      <tr>
          <td><a href="/players/{{ player.id }}">{{ player.first_name }} {{ player.last_name }}</a></td>
      </tr>
  </table>
  {% endfor %}
  </section> 
</main>
{% endblock %}