{% extends 'base.html' %}

{% block content %}
<form action="/players/{{ player.id }}" method="POST">
    <div class="firstname">
        <label for="firstname">First Name:</label>
        <input type="text" name="firstname" id="firstname" value="{{ player.first_name }}">
    </div>
    <div class="lastname">
        <label for="lastname">Last Name:</label>
        <input type="text" name="lastname" id="lastname" value="{{ player.last_name }}">
    </div>
    <div class="age">
        <label for="age">Age:</label>
        <input type="text" name="age" id="age">
    </div>
        <label for="position">Position:</label>
        <select name="position" id="position">
            <option value="Goalkeeper">Goalkeeper</option>
            <option value="Defence">Defence</option>
            <option value="Right Wing">Right Wing</option>
            <option value="Left Wing">Left Wing</option>
            <option value="Center">Center</option>
        </select>
        <br><br>
    <input type="submit" value="Create Player">
</form>
{% endblock %}