  
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 0px;
    margin: 0px;
  }

  body > header {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    border-bottom: 2px solid white;
  }
  
  body > header > h1 {
    color: white;
    text-align: center;
  }
  
  body > header > nav > ul {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  body > header > nav > ul > li > a {
    margin-right: 8px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Console", Monaco, monospace;
    margin: 0px;
    padding: 0px;
  }
  
  h1 {
    font-size: 1.8em;
    color:  black;
    margin-bottom: 20px;
  }
  
  a, a:link, a:visited {
    color: white;
    text-decoration: none;
  }
  
  a:hover, a:active, a:focus {
    color: #8EE3EF;
  }
  
  nav {
    background-color: black;
    padding: 0px;
    margin: 0px;
    padding-right: 25px;
  }
  
  nav ul li {
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }
  
  main {
    padding: 25px;
  }
  
  .flex {
    display: flex;
  }
  
  .flex--row {
    flex-direction: row;
  }
  
  #content {
    min-height: 100vh;
    min-width: 100vh;
    border-left: 4px solid white;
    padding-left: 25px;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: auto;
  }
  