<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>NHL Fantasy League</title>
</head>
<body>
    <header>
        <h1>NHL Results Generator</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a href="/teams/new">create new team</a>
                </li>
                <li>
                    <a href="/players">view all players</a>
                </li>
                <li>
                    <a href="/players/new">create new player</a>
                </li>
                <li>
                    <a href="/matches/setup">new league</a>
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}
      
    {% endblock%} 
    <footer>
        <p>Copyright: Tear Your Hair Out Productions ltd.</p>
        <h3>Part of the Lack of Sleep Group plc.</h3>
    </footer>
</body>
</html>